html {
  height: 100%;
  color: white;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(40, 40, 40, 1) 40%,
    rgba(40, 40, 40, 1) 60%,
    rgba(0, 0, 0, 1) 100%
  );
  background-repeat: no-repeat;
}

p {
  font-family: "Bodoni Moda", serif;
  font-size: 150px;
  text-align: center;
}
.footerList {
  position: absolute;
  bottom: 30px;
  right: 0px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

a {
  font-family: "M PLUS 2", sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
a:hover {
  box-shadow: inset 100px 0 0 0 #ffffff;
  color: black;
}
